<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>All users</title>

</head>
<body>
<h1>All Users</h1>
<br/>
<div>
    <table border="1">
        <tr>
            <th>Name</th>
            <th>Surname</th>
            <th>Department</th>
            <th>age</th>
            <th>Role</th>

        </tr>
        <tr th:each="user : ${users}">
            <td th:utext="${user.name}">user</td>
            <td th:utext="${user.surname}">user</td>
            <td th:utext="${user.department}">user</td>
            <td th:utext="${user.age}">user</td>
            <td>
                <a th:each="role : ${user.getRoles()}"
                   th:text="${role.name} + ' '">
                </a>
                <form th:method="GET" th:action="@{/admin/{id}/edit(id=${user.id})}">
                    <input type="submit" value="Edit">
                </form>
                <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.id})}">
                    <input type="submit" value="Delete">
                </form>
            </td>
        </tr>
    </table>
    <br/><br/>
    <form th:method="GET" th:action="@{/admin/new}">
        <input type="submit" value="Add new user"/>
    </form>
</div>
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>

</body>
</html>